//
   Created by mamol on 16/06/14.
//Import jQuery
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
//Import validation
script(src='/javascripts/jQuery-Validation-Engine-master/js/languages/jquery.validationEngine-ja.js' type='text/javascript' charset='utf-8')
script(src='/javascripts/jQuery-Validation-Engine-master/js/jquery.validationEngine.js' type='text/javascript' charset='utf-8')
link(rel='stylesheet' href='/javascripts/jQuery-Validation-Engine-master/css/validationEngine.jquery.css' type='text/css')
//Import datepicker
link(rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
script(src='/javascripts/jquery-ui-1.11.4.custom/jquery-ui.js')