//
   Created by mamol on 16/06/14.
doctype html
html
    head
        title OJT研修力カード
        meta(charset='UTF-8')
        //Import jQuery
        include jQuery_import.jade
        //DatePicker
        script(type='text/javascript' src='/javascripts/datepicker.js')
        //Import script & css
        link(rel='stylesheet' type='text/css' href='/stylesheets/study.css')
        script(type='text/javascript' src='/javascripts/OJTcard.js')

    body
        include top.jade

        div.box
            form(method='post')
                div.study_table
                    table
                        tr
                            th(rowspan='2' style='width: 10%') 日期
                            th(rowspan='2' style='width: 20%') 研修内容
                            th(colspan='2') 自己申告
                        tr
                            th 習得技術内容
                            th(style='width: 10%') 達成率
                        form
                            mixin table(day)
                                tr
                                    td.study_date(id='ojt_day'+day name='ojt_day'+day)
                                    td
                                        input.study_text(type='text' id='re_content'+day name='content'+day hidden)
                                        span.study_content(id='content'+day)
                                    td
                                        input.study_text(type='text' id='re_self_report'+day name='self_report'+day hidden)
                                        span.study_content(id='self_report'+day)
                                    td: select(name='percent'+day)
                                        option 100%
                                        option 90%
                                        option 80%
                                        option 60%
                                        option 未達成
                            -for (var i=1; i<8; i++)
                                +table(i)

                    div.study_block
                        div.study_submit
                            input(type='submit' value='送信')#study_sub
                        div.study_modify
                            input(type='button' value='入力')#modify
                        div.study_modify
                            input(type='button' value='確認' hidden)#enter

            div.study_table
                hr
                form(method='post')
                    div.study_block
                        label.study_label 先生評価
                    div.study_block
                        textarea.study_evaluation(name='t_evaluation')
                    div.study_block
                        div.study_submit
                            input(type='submit' value='送信')