//
   Created by mamol on 16/06/14.

link(rel='stylesheet' type='text/css' href='/stylesheets/layout.css')

div#side_bar.side_bar
    div.side_list
        br
        p: a(href='/work_attendance/') 出席確認
        br
        p: a(href='/study/') 学習内容
        br
        p: a(href='/OJTcard/') OJT研修力カード
        br
        p: a(href='/work_exam/') 行動基準評定
        br
        p: a(href='/report/') 勤怠報告&研修
        br
        p: a(href='/opinion/') 社長直通