//
   Created by mamol on 16/06/13.

doctype html
html
    head
        title My text
        meta(charset='UTF-8')

        script.
            var now = new Date()


    body
        h this is my text
        p this is my test