//
   Created by mamol on 16/06/13.

link(rel='stylesheet' type='text/css' href='/stylesheets/layout.css')

div#top.top
    div.logout
        form(method='post')
            input(type='submit' name='logout' value='ログアウト')
    div.logo MAMOL
