//
   Created by mamol on 16/06/13.

link(rel='stylesheet' type='text/css' href='/stylesheets/layout.css')

div#top.top
    div.logout
        form(method='post')
            input(type='submit' name='logout' value='ログアウト')
        form(method='post')
            input(type='submit' name='admin' value='社員管理')
    div.logo MAMOL
    div.top_label
        a(href="/attendance/")
            div.top_attendance
                div.top_text 出席確認
        a(href="/work_exam/")
            div.top_attendance
                div.top_text 行動基準評定
        a(href="/study/")
            div.top_attendance
                div.top_text 学習内容
        a(href="/OJTcard/")
            div.top_attendance
                div.top_text OJT研修力カード
        a(href="/report/")
            div.top_attendance
                div.top_text 勤怠報告&研修
        a(href="/opinion/")
            div.top_attendance
                div.top_text 社長直通