//
   Created by mamol on 16/06/14.
doctype html
html
    head
        meta(charset='UTF-8')
        title 出席確認
        //Import jQuery
        include jQuery_import.jade
        //Import script & css
        script(type='text/javascript' src='/javascripts/attendanceTime.js')
        link(rel='stylesheet' type='text/css' href='/stylesheets/work_attendance.css')

    body
        include top.jade
        include side_bar.jade

        div.box
            //出席確認
            div.attendance_check(style='margin-top: 2%')
                div.attendance_button
                    form(method='post')
                        button(type='submit' name='entrance_time')#entrance_button 入室確認

            div.attendance_reason
                form(method='post')
                    div.attendance_label
                        label 遅刻の原因
                    div(style='width: 100%')
                        textarea(name='late_reason').attendance_text
                    div(style='width: 100%')
                        input(type='button' value='修正')
                        input(type='submit' value='送信')

            div.attendance_remark
                form(method='post')
                    div.attendance_label
                        label リマーク
                    div(style='width: 100%')
                        textarea(name='late_remark').attendance_text
                    div(style='width: 100%')
                        input(type='button' value='修正')
                        input(type='submit' value='送信')

            br
            hr

            //退室確認
            div.attendance_check(style='margin-top: 1%')
                div.attendance_button
                    form(method='post')
                        button(type='submit' name='leave_time')#leave_button 退室確認

            div.attendance_reason
                form(method='post')
                    div.attendance_label
                        label 早退の原因
                    div(style='width: 100%')
                        textarea(name='leave_reason').attendance_text
                    div(style='width: 100%')
                        input(type='button' value='修正')
                        input(type='submit' value='送信')

            div.attendance_remark
                form(method='post')
                    div.attendance_label
                        label リマーク
                    div(style='width: 100%')
                        textarea(name='leave_remark').attendance_text
                    div(style='width: 100%')
                        input(type='button' value='修正')
                        input(type='submit' value='送信')