//
   Created by mamol on 16/07/05.

div
    div(style='float: left') #{info.user_name}
    div(style='float: left margin-left: 2%')
        form(method='post')
            input(type='submit' name='back' value='戻 る' style='width: 200%')
    br
    hr