table, th, td{
    border: 1px solid black;
}

td{
    text-align: center;
    width: auto;
}

.att_box{
    width: 100%;
    float: left;
}

.att_list{
    width: 100%;
    float: left;
}

.att_table{
    width: 98%;
    float: left;
    margin-left: 1%;
}

.att_att{
    width: 30%;
    float: left;
    margin-top: 1%;
}

.leave{
    margin-top: 5%;
}

.att_resn{
    margin-top: 2%;
}

.att_set{
    float: right;
    margin-top: 1%;
    margin-right: 10%;
}

.att_date{
    width: 10%;
}

.att_label{
    width: 12%;
}

.att_time{
    width: 14%;
}
