.exam_label{
    float: left;
    margin-left: 3%;
}

.exam_start{
    float: right;
    margin-right: 3%;
}

.exam_table{
    float: left;
    width: 100%;
}

.table_2{
    display: none;
}

.table_3{
    display: none;
}