//
   Created by mamol on 16/06/22.
div
    div
        div
            input(type='text')
        div
            div
                button 捜索
            div
                button 設定
    div
        div
            p 出勤時間
        div
            p
        div
            p 退勤時間
        div
            p