//
   Created by mamol on 16/06/18.
doctype html
html
    head
        title 出退勤管理
        meta(charset='UTF-8')
        //Import jQuery
        include ../jQuery_import.jade
        //Import script & css
        link(rel='stylesheet' type='text/css' href='/stylesheets/attendance.css')
        script(type='text/javascript' src='/javascripts/attendanceTime.js')
        //Import responses
        include ../responses/res_attendance.jade
body
        include ../top.jade
        div.box
            div
                //出勤テキスト
                div
                    div
                        form(method='post')
                            button(type='submit' name='entrance_time')#entrance_button 入室確認
                    div
                        form(method='post')
                            div
                                input(type='text' placeholder='遅刻原因' name='late_reason')#late_text
                            div
                                input(type='submit' value='送信')#late_button
                //退勤テキスト
                div
                    div
                        form(method='post')
                            button(type='submit' name='leave_time')#leave_button 退室確認
                    div
                        form(method='post')
                            div
                                input(type='text' placeholder='早退原因' name='E_O_reason')#E_O_text
                            div
                                input(type='submit' value='送信')#E_O_button
            //一週間の出勤状態
            div
                hr
                table
                    mixin time_list(note)
                        tr
                            th(id= 'date_'+note rowspan='2')
                            th 入室時間
                            td(id= 'e_ti_'+note)
                            th 遅刻原因
                            td(id= 'l_re_'+note)
                        tr
                            th 退室時間
                            td(id= 'l_ti_'+note)
                            th 早退原因
                            td(id= 'eo_re_'+note)
                    -for (i=1; i<8; i++)
                        +time_list(i)

