//
   Created by mamol on 16/06/28.

script.
    for (var i=0; i< #{a}; i++) {
        (function (i) {
            $('#staff_info_' + i).click(function () {
                $('#info_table_' + i).show();
                //table control
                for (var j=0; j< #{a}; j++){
                    (function (j) {
                        if (j != i){
                            $('#info_table_' + j).hide();
                        }
                    })(j)
                }
                //text control
                for (var k=0; k<11; k++){
                    (function (k) {
                        $("#info_modify_"+ i +"_"+ k).click(function () {
                            $("#info_input_"+ i + "_"+ k).val($("#info_text_"+ i + "_"+ k).html());
                            $("#info_td0_"+ i + "_"+ k).show();
                            $("#info_td1_"+ i + "_"+ k).show();
                            $("#info_ok_"+ i + "_"+ k).show();
                            $("#info_text_"+ i + "_"+ k).hide();
                            $("#info_modify_"+ i +"_"+ k).hide()
                        });
                        //Ajax post
                        $("#info_ok_"+ i + "_"+ k).click(function () {
                            switch (n){
                                case 0:
                                    var name = _id;
                                    break;
                                case 1:
                                    var name = staff_name;
                                    break;
                                case 2:
                                    var name = staff_sex;
                                    break;
                                case 3:
                                    var name = staff_birthday;
                                    break;
                                case 4:
                                    var name = staff_email;
                                    break;
                                case 5:
                                    var name = staff_tel;
                                    break;
                                case 6:
                                    var name = staff_address;
                                    break;
                                case 7:
                                    var name = staff_signup_date;
                                    break;
                                case 8:
                                    var name = staff_occupation;
                                    break;
                                case 9:
                                    var name = entrance;
                                    break;
                                case 10:
                                    var name = leave;
                                    break;
                            }
                            $.post("/admin/",
                                    {
                                        staff_id: $("#info_text_"+ i + "_"+ k).html()
                                        

                                    })
                        })
                    })(k)
                }
            })
        })(i)
    }
